<footer class="site-footer" role="contentinfo">
  <div class="very-bottom-footer">
    <div class="container">
      <div class="footer-text">
        <p class="brands"><a href="http://uk.store.marqueofbrands.com/?choose-country">{{ 'uk.png' | asset_url | img_tag: 'UK', 'flag' }}<span class="country-selector">COUNTRY SELECTOR</span></a>© 2017 MARQUE OF BRANDS PTY LTD. ALL RIGHTS RESERVED</p>
      </div>
      <div class="bottom-footer-menu">
        <ul id="very-bottom-footer-menu" class="menu">
          {% assign globalBottomFooterLinks = "Global Very Bottom Footer Menu" | handleize %}
          {% for link in linklists.[globalBottomFooterLinks].links %}
            <li>{{ link.title | link_to: link.url }}</li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
  <div id="quickViewOverlay_CountrySelector"></div>
  <div id="quickViewResponseData_CountrySelector">
    <div class="close-quickview">
      {{ 'icon-close.png' | asset_url | img_tag: 'close' }}
    </div>
    <p class="title">SELECT YOUR REGION</p>
    <ul class="country-selector">
      <li>
        <a href="http://us.store.marqueofbrands.com/">{{ 'us.png' | asset_url | img_tag: 'US', 'flag' }}USA & Canada</a>
      </li>
      <li>
        <a href="http://uk.store.marqueofbrands.com/">{{ 'uk.png' | asset_url | img_tag: 'UK', 'flag' }}United Kingdom</a>
      </li>
      <li>
        <a href="http://eu.store.marqueofbrands.com/">{{ 'eu.png' | asset_url | img_tag: 'EU', 'flag' }}Europe</a>
      </li>
      <li>
        <a href="http://au.store.marqueofbrands.com/">{{ 'au.png' | asset_url | img_tag: 'AU', 'flag' }}Australia & NZ</a>
      </li>
    </ul>
  </div>
  <script>
    jQuery(document).ready(function($) {
      function showQuickviewCountrySelector() {
        $('#quickViewResponseData_CountrySelector').show();
        $('#quickViewOverlay_CountrySelector').show();
      }
      function hideQuickviewCountrySelector() {
        $('#quickViewResponseData_CountrySelector').hide();
        $('#quickViewOverlay_CountrySelector').hide();
      }
      
      $('.close-quickview').on('click', function(){
        hideQuickviewCountrySelector();
      });
      
      $('#quickViewOverlay_CountrySelector').on('click', function(e){
        if(e.target !== e.currentTarget) return;
        hideQuickviewCountrySelector();
      });

      $('a[href*="choose-country"]').on('click', function(e) { // filter choose country links
        e.preventDefault();
        showQuickviewCountrySelector();
      });

      var url = window.location.href.toLowerCase();
      var curSrc = $('.footer-text .brands .flag').attr('src');
      var curHref = $('.footer-text .brands a').attr('href');
      if (url.indexOf("us.store") >= 0) {
        curSrc = curSrc.replace('uk.png', 'us.png');
        curHref = curHref.replace('uk.store', 'us.store');
      }
      if (url.indexOf("eu.store") >= 0) {
        curSrc = curSrc.replace('uk.png', 'eu.png');
        curHref = curHref.replace('uk.store', 'eu.store');
      }
      if (url.indexOf("au.store") >= 0) {
        curSrc = curSrc.replace('uk.png', 'au.png');
        curHref = curHref.replace('uk.store', 'au.store');
      }
      $('.footer-text .brands .flag').attr('src', curSrc);
      $('.footer-text .brands a').attr('href', curHref);
    });
  </script>
</footer>

{% include 'message-modal' %}
